* {
	font-family: '맑은 고딕', 'Magun Gothic', 'Sans Serif';
	user-select: none;
}
body{
	margin: 0;
	background-color : #FFFFFF;
}
#username{
	font-size: 45px;
	color: white;
	background-color: rgb(0, 174, 255);
	padding: 20px;
	text-align: center;
	position: relative;

}
#smalltext{
	font-size: 27px;
	color: white;
	padding: 10px;

}
#division{
	border: 2px solid black;
	border-radius: 15px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 15px;
}
#division2{
	font-size: 25px;
	padding: 10px 10px;
	position: relative;
}
#division3{
	font-size: 100%;
	padding-top: 0.5%;
}
#division4{
	font-size: 80%;
	padding-left: 2%;
	padding-top: 1%;
	padding-bottom: 0.5%
}
li{
	border: 1px solid black;
	border-radius: 5px;
	padding-left: 5px;
	width: 95%;
	margin: 5px;
	list-style: none;
}
li:hover{
	background-color: #000000;
}
a{
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}
a:hover{
	color: #ffffff;
}
#copy{
	text-align: center;
	color: #777777;
	padding-top: 10px;
	padding-bottom: 15px;
	text-decoration: none;
}
#copy:hover{
	color: #000000;
	cursor: pointer;
}