body{
	margin: 0;
	background-color : #FFFFFF;
  }
#username{
	font-size: 45px;
	color: white;
	background-color: rgb(0, 174, 255);
	padding: 20px;
	text-align: center;
	position: relative;

}
#smalltext{
	font-size: 27px;
	color: white;
	padding: 10px;

}
#education{
	font-size: 25px;
	padding: 10px 10px;
	position: relative;
}
li{
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px 5px;
	margin: 5px;
	width: 95%;
	list-style: none;
}
li:hover{
	background-color: #000000;
}
#test{
	border: 3px solid black;
	border-radius: 5px;
	width: 80%;
	margin-left: 10px;
	margin-bottom: 15px;
}
a{
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}
a:hover{
	color: #ffffff;
}
#educationtitle{
	font-size: 17px;
}
#educationtitle2{
	font-size: 14px;
	padding-left: 10px;
	padding-top: 5px;
}
#copy{
	text-align: center;
	color: #777777;
	padding-top: 10px;
	padding-bottom: 15px;
	text-decoration: none;
}
#copy:hover{
	color: #000000;
	cursor: pointer;
}